@{
    Page.Title = "Woodpecker Mail";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2> send messages with all the features of a 1850s telegraph.</h2>
        </hgroup>
        <p>
            Made by Paul Farr
        </p>
    </div>
</section>
}

<h3>Check Out The Following:</h3>

<ol class="round">

    <li class="one">
        <h5>Learn</h5>
        Morse Code is a easy to learn. It's as easy as A B C.
    </li>

    <li class="two">
        <h5>History</h5>
        The telegraph was made by Samuel Morse between 1830s and 1840s.  The telegraph was used to send messages over long distances.
        The telegraph used a specialized code that used long and short beeps to represent letters in the alphabet. It was later used for radio transmitter.

    </li>

    

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>