@{
    Page.Title = "Delete Messages";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> funny quote here</h2>
</hgroup>

<article>
    <p>
        Some Stuff
    </p>
</article>

<aside>
    More Stuff
</aside>