@{

    if (!User.Identity.IsAuthenticated)//User Must be login to be here
    {
        Response.Redirect("~/Account/Login");
    }

    Page.Title = "Inbox";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> Read your messages here</h2>
</hgroup>

<article>
    <p><strong>From: </strong>Frida Kahlo</p>
    <p><strong>Subject: </strong>Dear Diego</p>
    <p>Diego.</br>
Truth is, so great, that I wouldn’t like to speak, or sleep, or listen, or love. To feel myself trapped, with no fear of blood, outside time and magic, within your own fear, and your great anguish, and within the very beating of your heart. All this madness, if I asked it of you, I know, in your silence, there would be only confusion. I ask you for violence, in the nonsense, and you, you give me grace, your light and your warmth. I’d like to paint you, but there are no colors, because there are so many, in my confusion, the tangible form of my great love.</p>
</article>
<aside>
    <h2>Messages</h2>
    <table>
        <tr>
            <th>From</th>
            <th>Subject</th>
        </tr>
        <tr onclick="window.document.location = 'Inbox';">
                <td>Pablo Picasso</td>
                <td>Spanish paintings</td>
        </tr>
        <tr onclick="window.document.location = 'Inbox';">
            <td>Leonardo da Vinci</td>
            <td>Renaissance Man</td>
        </tr>
        <tr onclick="window.document.location = 'Inbox';">
            <td>Frida Kahlo</td>
            <td>Dear Diego</td>
        </tr>
        <tr onclick="window.document.location = 'Inbox';">
            <td>Edward Hopper</td>
            <td>French and Russian culture</td>
        </tr>

    </table>
</aside>