@{
    Page.Title = "Sent!";
    
    string toSomeone = "";
    string messSubject = "";
    string messBody = "";

    if(IsPost)
    {
        toSomeone = this.Request["to"];
        messSubject = this.Request["MessageSubject"];
        messBody = this.Request["MessageBody"];
        //console.console.writeline(messBody);
        
    }
    else
    {

    }
}


<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> what wrath hath god wrought<sub style="font-size: .4em;"><a href="http://www.americaslibrary.gov/jb/reform/jb_reform_morsecod_1.html">link</a></sub></h2>
</hgroup>

<article> 
        <ul>
            <li><strong>To: </strong>@toSomeone</li>
            <li><strong>Subject: </strong>@messSubject</li>
            <li><strong>Body: </strong>@messBody</li>
        </ul>
</article>

<aside>
    More Stuff
</aside>