@{

    string post = "";
    Page.Title = "Message Sent!";
    
    string toSomeone = "";
    string messSubject = "";
    string messBody = "";

    if(IsPost)
    {
        toSomeone = this.Request["to"];
        messSubject = this.Request["MessageSubject"];
        messBody = this.Request["MessageBody"];
        //console.console.writeline(messBody);
        
    }
    else
    {

    }
}


<hgroup class="title">
    <h1>@Page.Title</h1>
    <h2> funny quote here</h2>
</hgroup>

<article> 
        <ul>
            <li><strong>TO: </strong>@toSomeone</li>
            <li><strong>Subject: </strong>@messSubject</li>
            <li><strong>Body: </strong>@messBody</li>
        </ul>
</article>

<aside>
    More Stuff
</aside>