@{
    Page.Title = "New Message";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your contact page.</h2>
</hgroup>

<article>
    
    <h6>To: <input type="text"/></h6>
    <h6>Subject: </h6>
    <p>Latin Alphabet:</p><div class="uneditableTextBox" id="MessageSubject"></div>
    <p>Morse Code:</p><div class="uneditableTextBox" id="MorseSubject"></div>
    <button class="float-right">Telegraph</button>
    <h6>Message:</h6>
    <p>Latin Alphabet:</p><div class="uneditableTextBox" id="MessageBody"></div>
    <p>Morse Code:</p><div class="uneditableTextBox" id="MorseBody"></div>
    <button class="float-right">Telegraph</button>
    <form>
        <input type="hidden" name="MessageSubject" />
        <input type="hidden" name="MessageBody" />
        <button class="float-left">Submit</button>

    </form>
</article>